1 VERSIONINFO
FILEVERSION 2, 0, 0, 0
PRODUCTVERSION 2, 0, 0, 0
FILEOS 0x40004
FILETYPE 0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "ProductName", "MainLevelsEditor"
			VALUE "CompanyName", "user95401"
			VALUE "LegalCopyright", "user666's original"
			VALUE "FileDescription", "Main Levels Editor for GD 2.2"
			VALUE "OriginalFilename", "MainLevelsEditor.dll"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409 0x04B0
	}
}
